body{
    justify-content: center;
}
.full{
    text-align: center;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 2fr 4fr;
    width: 50%;
    margin-left: 200px;
}
.left{
    position: initial;
    padding: 20px;
}
.right{
    position: initial;
    padding: 20px;
}